//Colors
$color-black: #000;
$color-white: #fff;

$color-gray: #dadada;
$color-gray-light: #686868;
$color-gray-dark: #1f1f1f;
$color-gray-dark-1: #2c2c2c;

//Font-size
$font-s: 1.6rem;
$font-m: 2.4rem;
$font-l: 3rem;
$font-xl: 3.6rem;
$font-xxl: 6rem;

//Font-family
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$main-font: 'Chakra Petch', sans-serif;
$sub-font: 'Ubuntu', sans-serif;

//Heading
@mixin mainheading {
  font-family: $main-font;
  font-size: $font-l;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2.3rem 9%;

  @media (max-width: $phone) {
    padding: 2.3rem 5%;
  }
}

@mixin subheading {
  font-family: $sub-font;
  font-size: $font-xxl;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 0 0.8rem 1.5rem rgba($color-black, 0.4);

  @media (max-width: $mid-screen) {
    font-size: $font-xl;
  }
}

//responsive breakpoint
$phone: 43.75em;
$tablet: 75em;
$mid-screen: 100em;
