//Colors
$color-black: #000;
$color-black-light: #383838;
$color-gray: #eeeeee;
$color-white: #fff;
$color-gray-dark: #b6b6b6;
$color-gray-dark-1: #212121;

//Font-size
$font-s: 1.6rem;
$font-m: 2.4rem;
$font-l: 3rem;
$font-xl: 3.6rem;
$font-xxl: 6rem;

//Font-family
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
