@import '../sass/variable.scss';

.footer {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: $color-gray-dark;

  &__copyright {
    margin: auto 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}
