@import '../sass/variable.scss';

.navbar {
  display: flex;
  height: 8vh;
  width: 100%;
  max-height: max-content;
  padding: 1rem 2rem;
  align-items: center;
  z-index: 5;

  &__brand {
    position: relative;
    font-family: $main-font;
    font-size: $font-m;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-black;
  }
}
