@import '../sass/variable.scss';

.navbar {
  display: flex;
  height: 8vh;
  width: 100%;
  max-height: max-content;
  padding: 1rem 9%;
  align-items: center;
  z-index: 5;

  @media (max-width: $phone) {
    padding: 1rem 5%;
  }

  &__brand {
    position: relative;
    font-family: $main-font;
    font-size: $font-m;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-gray-dark;
  }

  &__links {
    margin-left: auto;
  }

  &__link {
    position: relative;
    font-family: $main-font;
    font-size: $font-s;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-gray-dark;
    padding: 0.3rem 0;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover,
    &:target {
      border-bottom: 2px solid $color-black;
    }
  }
}
