.achieve {
  width: 100%;
  background-color: $color-gray;
  overflow: hidden;

  &__container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, transition;
  }

  &__item {
    height: 14vw;

    background-image: url('../../../public/images/frame.png');
    background-size: 100% 100%;
    background-repeat: repeat;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
      z-index: 3;
      border-radius: 0;
    }
  }
}
