.contact {
  &__heading {
    color: $color-gray-dark;
    background-color: $color-white;

    @include mainheading;
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 9% 4rem;

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, max-content);
    }

    @media (max-width: $phone) {
      padding: 0 5% 4rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, max-content);
    }
  }

  &__address,
  &__tel,
  &__social {
    height: 50vh;
    width: 100%;
    padding: 2rem;

    @media (max-width: $phone) {
      height: min-content;
    }
  }

  &__address {
    background-color: $color-gray;

    @media (max-width: $phone) {
      display: flex;
    }

    &_detail {
      font-family: 'Cairo', sans-serif;
      font-size: $font-m;
      font-weight: 300;
      color: $color-gray-dark;
    }
    a {
      @media (max-width: $phone) {
        margin: auto;
        width: 50%;
      }
    }

    &_map {
      display: block;
      height: 12vw;
      width: 100%;
      margin-top: 2rem;
      object-fit: none;

      @media (max-width: $phone) {
        margin: 0;
        height: 20vw;
      }
    }
  }

  &__tel {
    background-color: $color-gray-light;

    &_detail {
      font-family: 'Cairo', sans-serif;
      font-size: $font-m;
      font-weight: 300;
      color: $color-gray;
      letter-spacing: 1px;
    }
  }

  &__social {
    background-color: $color-gray-dark;
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet) {
      justify-self: center;
      grid-column: 1 / -1;
      width: 100%;
      align-items: center;
    }

    @media (max-width: $phone) {
      flex-direction: row;
    }

    &_header {
      display: flex;

      @media (max-width: $tablet) {
        width: 50%;
      }
    }

    &_link {
      display: flex;
      justify-content: center;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.3);
      }
    }

    &_icon {
      width: 60%;
    }

    &_line {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $phone) {
        width: 50%;
      }
    }

    &_qr {
      width: 12vw;

      @media (max-width: $tablet) {
        width: 18vw;
      }
    }
  }
}
