.contact {
  position: fixed;
  right: 2rem;
  bottom: 4rem;

  z-index: 5;

  &__toggle {
    display: none;

    &:checked ~ .contact__main > .contact__social {
      transform: translateY(0);
      opacity: 1;
      box-shadow: 0 -5px 11px 1px rgb(47 47 47 / 30%);
    }

    &:checked ~ .contact__anounce {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__label {
    position: relative;
    display: block;
    width: 62px;
    height: 62px;
    background-image: url('../../../public/images/film-roll.png');
    background-size: cover;
    background-position: 1px 0;
    border-radius: 50%;
    box-shadow: 0 10px 16px 1px rgb(47 47 47 / 30%);
    cursor: pointer;
  }

  &__main {
    position: absolute;
    left: -2rem;
    bottom: 12px;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
    z-index: -1;
  }

  &__social {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 62px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url('../../../public/images/filmstrip.png');
    background-size: 100% 60px;
    background-position: 0 20px;
    background-color: $color-gray-dark;
    transform: translateY(120%);
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &__link {
    display: flex;
    align-self: center;
    flex: 25%;
    width: 35px;

    &:hover > .contact__icon {
      transform: scale(1.5);
    }
  }

  &__icon {
    display: block;
    margin: auto 0;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  &__anounce {
    position: absolute;
    right: 20px;
    bottom: 80px;
    padding: 10px 20px;
    width: max-content;
    border-radius: 100px;
    background-color: rgba($color-white, 1);
    visibility: visible;
    opacity: 1;
    box-shadow: 0 10px 20px 1px rgb(47 47 47 / 30%);

    &::after {
      content: '';
      position: absolute;
      left: 95px;
      border: 15px solid transparent;
      border-top: 30px solid rgba($color-white, 1);
      transform: rotate(-30deg);
    }
  }

  &__heading {
    font-family: 'Dancing Script', cursive;
    font-size: $font-s;
    color: $color-black;
  }
}
