.contact {
  &__heading {
    color: $color-gray-dark;
    background-color: $color-white;

    @include mainheading;
  }

  &__main {
    display: flex;
    padding: 0 9% 4rem;
  }

  &__address,
  &__tel,
  &__social {
    height: 50vh;
    width: 33.33%;
    padding: 2rem;
  }

  &__address {
    background-color: $color-gray;

    &_detail {
      font-family: 'Cairo', sans-serif;
      font-size: $font-m;
      font-weight: 300;
      color: $color-gray-dark;
    }

    &_map {
      display: block;
      height: 12vw;
      width: 100%;
      margin-top: 2rem;
      object-fit: none;
    }
  }

  &__tel {
    background-color: $color-gray-light;

    &_detail {
      font-family: 'Cairo', sans-serif;
      font-size: $font-m;
      font-weight: 300;
      color: $color-gray;
      letter-spacing: 1px;
    }
  }

  &__social {
    background-color: $color-gray-dark;
    display: flex;
    flex-direction: column;

    &_header {
      display: flex;
    }

    &_link {
      display: flex;
      justify-content: center;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.3);
      }
    }

    &_icon {
      width: 60%;
    }

    &_line {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_qr {
      width: 12vw;
      height: max-content;
    }
  }
}
