@import '../sass/variable.scss';
@import './SlideSection.scss';
@import './AchievementList.scss';
@import './ProjectGrid.scss';
@import './ContactSection.scss';
@import './ContactButton.scss';

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}
