.slide {
  display: block;
  position: relative;
  height: 52vw;
  width: 100%;
  background-color: $color-white;
  overflow: hidden;

  &__items {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 28vw;
    width: 60%;
    flex-direction: row;
    transform: translate(-50%, -50%);
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    transition: transform 0.6s ease-out;
  }

  &__item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  &__prev,
  &__next {
    position: absolute;
    width: 10rem;
    height: 80vh;
    border: none;
    color: rgba($color-white, 1);
    font-size: 8rem;
    background-color: transparent;

    transition: all 0.2s;
    cursor: pointer;
    z-index: 2;
  }

  &__prev {
    left: 0;
    transform: translateX(-20px);

    &:hover {
      transform: translateX(-10px);
    }
  }

  &__next {
    right: 0;
    transform: translateX(20px);

    &:hover {
      transform: translateX(10px);
    }
  }
}
