.slide {
  display: block;
  position: relative;
  height: 52vw;
  width: 100%;
  background-color: $color-white;
  overflow: hidden;

  &__items {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 28vw;
    width: 60%;
    flex-direction: row;
    transform: translate(-50%, -50%);
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    transition: transform 0.6s ease-out;
    backface-visibility: hidden;
    will-change: transform;

    &:hover > .slide__play::before {
      visibility: visible;
    }

    &:hover > .slide__play > .slide__playbutton {
      animation: showing 1.5s linear infinite;
    }
  }

  &__item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    backface-visibility: hidden;
    outline: 2px solid $color-gray-dark-1;
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5vw;
    z-index: inherit;

    &button {
      width: 5vw;
      opacity: 0.8;
      transform: translateX(6px);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 7vw;
      width: 7vw;
      border-radius: 50%;
      border: 5px solid transparent;
      border-top: 5px solid $color-white;
      border-bottom: 5px solid $color-white;
      opacity: 0.8;
      visibility: hidden;

      animation: spinner 6s linear infinite;
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    width: 10rem;
    height: min-content;
    border: none;
    color: rgba($color-white, 1);
    font-size: 8rem;
    background-color: transparent;

    transition: transform 0.2s;
    cursor: pointer;
    z-index: 10;
  }

  &__prev {
    left: -35%;
    transform: translate(0, -50%);

    &:hover {
      transform: translate(10px, -50%);
    }
  }

  &__next {
    right: -35%;
    transform: translate(0, -50%);

    &:hover {
      transform: translate(-10px, -50%);
    }
  }
}
