@import '../sass/variable.scss';

.spinner {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    z-index: 1000;
  }

  &__item {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid $color-black;
    border-bottom: 5px solid $color-black;
    animation: spinnerload 3s linear infinite;
  }
}

@keyframes spinnerload {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
